# Playground at Class

## Common Jupyter Notebook Stuff

In [2]:
a = 1

In [3]:
a

1

- 1
- 2

In [4]:
while True:
    a = 1

KeyboardInterrupt:

In [5]:
b = 2

In [6]:
b

2

In [8]:
pwd

'/Users/me/Projects/spu-python/class-materials/weeks/week-03'

In [9]:
!pwd

/Users/me/Projects/spu-python/class-materials/weeks/week-03

In [10]:
!ls

README.md                       Tutorial.ipynb
Seperate Process Notebook.ipynb

In [11]:
%%bash

ls

README.md
Seperate Process Notebook.ipynb
Tutorial.ipynb

In [12]:
%%bash

git --version

git version 2.28.0

In [13]:
%%zsh

UsageError: Cell magic `%%zsh` not found.

In [14]:
%%bash

git status

On branch main
Your branch is up to date with 'origin/main'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   Tutorial.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)
	../../.vscode/
	Seperate Process Notebook.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [37]:
! pip --version

pip 20.2.3 from /Users/me/.pyenv/versions/3.9.0/lib/python3.9/site-packages/pip (python 3.9)

In [ ]:
! pip install pandas

## Common Syntax

## Variables and Naming Conventions

In [17]:
1, '1',

(1, '1')

In [18]:
"""
multi line
comment
"""

'\nmulti line\ncomment\n'

In [21]:
'''
multi line
comment
'''

'\nmulti line\ncomment\n'

In [22]:
# ipython shell will ignore this line ab = 1

In [23]:
ab

NameError: name 'ab' is not defined

In [24]:
print(a + b)

3

In [28]:
password = '123'

In [29]:
password

'123'

In [25]:
1password

SyntaxError: invalid syntax (<ipython-input-25-844384d833ed>, line 1)

In [26]:
_1password = 'super secret password'

In [27]:
_1password

'super secret password'

In [30]:
password@oass

NameError: name 'oass' is not defined

In [31]:
_1Password = 'super secret password 2'

In [33]:
_1Password, _1password

('super secret password 2', 'super secret password')

In [34]:
# instead of this variable names
for i in range(0, 3):
    print(i)

0
1
2

In [36]:
# conventionally use these variable names
puppies_list = range(0, 3)

for puppy in puppies_list:
    print(puppy)

0
1
2

In [ ]:
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

In [40]:
False = 123

SyntaxError: cannot assign to False (<ipython-input-40-8e2cca806acf>, line 1)

In [41]:
elif = 'abc'

SyntaxError: invalid syntax (<ipython-input-41-7f6125253658>, line 1)

### Object

In [39]:
False, True

(False, True)

In [143]:
some_object = 9999

In [144]:
# object has a value, an identity, and a type
some_object, id(some_object), type(some_object)

(9999, 4512612112, int)

In [135]:
some_object = '9999'

In [136]:
# object has a value, an identity, and a type
some_object, id(some_object), type(some_object)

('9999', 4506535408, str)

In [125]:
# even if it doesn't assign to a variable, `9999` is an object. it therefore has value, id, and type.
# bc it is immutable (int types are immutable), a new id assign to that object everytime you run this cell.
9999, id(9999), type(9999)

(9999, 4510994736, int)

### None and Forward

In [73]:
None

In [99]:
None, id(None), type(None)

(None, 4385559952, NoneType)

In [103]:
NotImplemented, id(NotImplemented), type(NotImplemented)

(NotImplemented, 4385561480, NotImplementedType)

In [104]:
NotImplemented

NotImplemented

In [106]:
Ellipsis, ...

(Ellipsis, Ellipsis)

In [145]:
False == 0

True

In [147]:
True == 1

True

In [149]:
True is True, None is None

(True, True)

In [153]:
999 == 999, 999 == '999'

(True, False)

In [155]:
2.23, type(2.23)

(2.23, float)

In [157]:
11111111111111.012131231, type(11111111111111.012131231)

(11111111111111.012, float)

In [158]:
12341234213412311111111111111.01213234321145231411231, type(12341234213412311111111111111.01213234321145231411231)

(1.234123421341231e+28, float)

In [2]:
print(1), print('string')

1
string

(None, None)

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
assert True

In [5]:
assert False

AssertionError:

In [6]:
my_string = 'this is ds-542 class'

In [8]:
assert my_string == 'this is ds-542 class'

In [11]:
assert my_string == 'ds-542 class', 'variable my_string not equal to ds-542 class'

AssertionError: variable my_string not equal to ds-542 class

In [19]:
def functions():
    pass # removing this will throw IndentationError: expected an indented block

In [15]:
def functions():
    print('my function')
    pass

In [20]:
class Dog:
    pass

In [25]:
False is False

True

In [22]:
my_string2 = 'this is ds-542 class'

In [27]:
my_string, my_string2, my_string == my_string2 # value comparison

('this is ds-542 class', 'this is ds-542 class', True)

In [24]:
id(my_string), id(my_string2), my_string is my_string2 # object comparison

(4441520608, 4457229648, False)

In [16]:
functions()

my function

In [39]:
id('this is ds-542 class') # every time you run this, creates a new id, therefore a new object

4469228048

In [47]:
id(None) # every time you run this, single id, therefore a same object

4406044048

In [55]:
2332, 2332
id(23332), id(23232)

(4469307792, 4469307504)

In [56]:
a = 2 
b = 3
a + b

5

#### Int

In [65]:
int('0b100', base=0)

4

In [64]:
int('234')

ValueError: invalid literal for int() with base 10: '234b'

### Boolean

In [58]:
0 == False

True

In [59]:
1 == True

True

In [39]:
id('this is ds-542 class') # every time you run this, creates a new id, therefore a new object

4469228048

In [67]:
bool()

bool

In [60]:
True, False

(True, False)

#### Float

In [69]:
a = 2.23

In [72]:
type(a)

float

In [73]:
a.is_integer()

False

In [75]:
a = 2.0

In [76]:
type(a)

float

In [77]:
a.is_integer()

True

In [78]:
a.as_integer_ratio()

(2, 1)

### Sequences (Lists, Sets, etc)

Immutable Ones

In [105]:
str, tuple, bytes

(str, tuple, bytes)

In [117]:
str('my string'), tuple([1,2,3,4]), bytes('some byte string', 'utf-8')

('my string', (1, 2, 3, 4), b'some byte string')

In [111]:
'ds542', (1,2,3,4), b'beginnersbook', bytes("beginnersbook", 'utf-8')

('ds542', (1, 2, 3, 4), b'beginnersbook', b'beginnersbook')

Mutable Ones

In [106]:
list, set, dict

(list, set, dict)

In [123]:
list('my string'), set('my set'), dict(a=1, b=2)

(['m', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g'],
 {' ', 'e', 'm', 's', 't', 'y'},
 {'a': 1, 'b': 2})

In [125]:
[1,2,3,4], {1,2,3,2,3}, {'a': 1, 'b': 2, 'a': 3}

([1, 2, 3, 4], {1, 2, 3}, {'a': 3, 'b': 2})

#### Strings

In [83]:
len(my_string)

20

In [85]:
my_string

'this is ds-542 class'

In [84]:
my_string[2:3]

'i'

In [87]:
my_string[0], my_string[1], my_string[2], my_string[3]

('t', 'h', 'i', 's')

In [88]:
my_string[-1]

's'

In [89]:
my_string[-5], my_string[-4], my_string[-3], my_string[-2], my_string[-1]

('c', 'l', 'a', 's', 's')

In [90]:
my_string.title()

'This Is Ds-542 Class'

In [91]:
my_string.capitalize()

'This is ds-542 class'

In [93]:
'2323'.isdigit(), '232d3'.isdigit()

(True, False)

In [101]:
my_class_list = ['Metin Senturk',
'Harish balan',
'sujin an',
'3 Doors Down']

In [102]:
str.isalpha

In [103]:
for member in my_class_list:
    print(member, member.lower(), member.upper(), member.replace(' ', '').lower().isalpha())

Metin Senturk metin senturk METIN SENTURK True
Harish balan harish balan HARISH BALAN True
sujin an sujin an SUJIN AN True
3 Doors Down 3 doors down 3 DOORS DOWN False

In [5]:
a = 'my string'
b = 'my string'
c = a + b

In [6]:
a, b, c

('my string', 'my string', 'my stringmy string')

In [7]:
id(a), id(b), id(c)

(4451747568, 4451769200, 4450813712)

In [9]:
d = a.replace('m', 'M')

In [10]:
id(a), id(d)

(4451747568, 4452363824)

#### Tuples

In [17]:
my_tuple = (1, 2,3, 4)

In [18]:
del my_tuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [19]:
my_tuple[1:2]

(2,)

In [20]:
my_tuple + (5, 6, 7,  8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [21]:
my_tuple = (1,2,3,2,3)

In [22]:
my_tuple

(1, 2, 3, 2, 3)

#### Lists

In [26]:
my_list = [1,2,3,4,5]

In [27]:
my_list, id(my_list)

([1, 2, 3, 4, 5], 4452374976)

In [28]:
my_list[2:3]

[3]

In [29]:
del my_list[0]
my_list, id(my_list)

([2, 3, 4, 5], 4452374976)

In [30]:
my_list.append(34)
my_list

[2, 3, 4, 5, 34]

In [31]:
my_list2 = [1, 2, 'string1', (1,2,3), ['a', 'b', [True, False, 0]]]

In [33]:
id(my_list2)

4452141760

In [34]:
my_list2.append('string2')

In [35]:
my_list2, id(my_list2)

([1, 2, 'string1', (1, 2, 3), ['a', 'b', [True, False, 0]], 'string2'],
 4452141760)

In [36]:
my_list3 = my_list2

In [38]:
my_list3 # this is same as my_list2, bc just up one we created this from my_list2

[1, 2, 'string1', (1, 2, 3), ['a', 'b', [True, False, 0]], 'string2']

In [39]:
id(my_list2), id(my_list3) # now I know that these 2 variables points to the same object.

(4452141760, 4452141760)

In [40]:
my_list3.append('string3')

In [41]:
my_list2, my_list3

([1,
  2,
  'string1',
  (1, 2, 3),
  ['a', 'b', [True, False, 0]],
  'string2',
  'string3'],
 [1,
  2,
  'string1',
  (1, 2, 3),
  ['a', 'b', [True, False, 0]],
  'string2',
  'string3'])

In [42]:
my_list4 = my_list2.copy() # copy will return a copy of the object in here -- that is the list we create up

In [45]:
id(my_list4), id(my_list3) # will not be same, bc we just created a new object using `copy` method of the list.

(4452343552, 4452141760)

In [44]:
my_list4.append('string5')
my_list4, my_list2

([1,
  2,
  'string1',
  (1, 2, 3),
  ['a', 'b', [True, False, 0]],
  'string2',
  'string3',
  'string5'],
 [1,
  2,
  'string1',
  (1, 2, 3),
  ['a', 'b', [True, False, 0]],
  'string2',
  'string3'])

In [50]:
my_list2

[1,
 2,
 'string1',
 (1, 2, 3),
 ['a', 'b', [True, False, 0]],
 'string2',
 'string3']

In [49]:
my_list2[4:]

[['a', 'b', [True, False, 0]], 'string2', 'string3']

In [52]:
my_list2[-1]

'string3'

#### Sets

In [55]:
set_a = {1,2,3,3,4,4,4,4,4,5}
set_b = {'a', 1, False}

In [56]:
set_a

{1, 2, 3, 4, 5}

In [57]:
set_b

{1, False, 'a'}

In [58]:
set_a - set_b

{2, 3, 4, 5}

In [61]:
frozenset((1,2,3,3,4,5)) #the set type that you cannot change its values, unlike sets

frozenset({1, 2, 3, 4, 5})

#### Dict

In [64]:
dict_a = {'name': 'Metin', 'last_name': 'Senturk'} # dict()

In [65]:
dict_a

{'name': 'Metin', 'last_name': 'Senturk'}

In [63]:
dict(name='Metin', last_name='Senturk')

{'name': 'Metin', 'last_name': 'Senturk'}

In [67]:
{0: 'Metin', 45: 'Senturk'}

{0: 'Metin', 45: 'Senturk'}

In [68]:
dict_a.keys()

dict_keys(['name', 'last_name'])

In [69]:
dict_a.values()

dict_values(['Metin', 'Senturk'])

In [70]:
dict_a.items()

dict_items([('name', 'Metin'), ('last_name', 'Senturk')])

In [74]:
dict_a['last_name'], dict_a.get('last_name') # difference btw these ways is `get` method will now throw error, if not found

('Senturk', 'Senturk')

In [77]:
dict_a.get('age', 'key not found')

'key not found'

In [75]:
dict_a['age']

KeyError: 'age'

In [78]:
dict_a.update({'name': 'Murat'})
dict_a

{'name': 'Murat', 'last_name': 'Senturk'}

In [80]:
family = {
    'brother1': dict_a,
    'brother2': {'name': 'Metin', 'last_name': 'Senturk'}
} 
# here, we are creating two objects, one is the big dictionary (brother1, brother2), 
# and second is "{'name': 'Metin', 'last_name': 'Senturk'}"

In [81]:
family

{'brother1': {'name': 'Murat', 'last_name': 'Senturk'},
 'brother2': {'name': 'Metin', 'last_name': 'Senturk'}}

In [83]:
family.update({'father': {'name': 'Huseyin', 'last_name': 'Senturk'}})

In [85]:
family, id(family)

({'brother1': {'name': 'Murat', 'last_name': 'Senturk'},
  'brother2': {'name': 'Metin', 'last_name': 'Senturk'},
  'father': {'name': 'Huseyin', 'last_name': 'Senturk'}},
 4459845824)

In [86]:
family.update({'mother': {'name': 'Zeynep', 'last_name': 'Senturk'}})
family, id(family)

({'brother1': {'name': 'Murat', 'last_name': 'Senturk'},
  'brother2': {'name': 'Metin', 'last_name': 'Senturk'},
  'father': {'name': 'Huseyin', 'last_name': 'Senturk'},
  'mother': {'name': 'Zeynep', 'last_name': 'Senturk'}},
 4459845824)

In [93]:
family2 = family.copy() 
# copying family will not copy second dictionary, because it is another object.

In [89]:
id(family), id(family2)

(4459845824, 4451469312)

In [90]:
family['brother1']

{'name': 'Murat', 'last_name': 'Senturk'}

In [91]:
family2['brother1']

{'name': 'Murat', 'last_name': 'Senturk'}

In [92]:
id(family['brother1']), id(family2['brother1'])

(4454016832, 4454016832)

Aritmetic operators

``` txt
+	Addition
-	Subtraction
/	division
%	mod
*	multiplication
//	floor division
**	to the power of
```

Relational Operators

``` txt 
==	True, if it is equal
!=	True, if not equal to
<	less than
>	greater than
<=	less than or equal to
>=	greater than or equal to
```

Bitwise Operators
``` txt
&	Logical And
l	Logical OR
^	XOR
~	Negate
>>	Right shift
<<	Left shift
```

Buitin functions

Getting user inputs

Using other modules

## Introduction to Data Model

### Object

### Standard type hierarchy

Try examples, object methods such as `str.split`, formattings, etc.